LOCALDROID_VERSION=1.9.0
LOCALDROID_ARCH=amd64

SERVER_IP=CHANGE_ME

DB_NAME=localdroid
DB_USER=localdroid
DB_PASSWORD=CHANGE_ME

LOCALDROID_ADMIN_EMAIL=admin@example.com
LOCALDROID_ADMIN_PASSWORD=CHANGE_ME

JWT_SECRET=CHANGE_ME
